<!DOCTYPE html>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<html lang="en">
  <body id="page2">
    <!-- header -->
    <div class="bg">
      <div class="main">
        <header>
          <%= render 'layouts/header' %>
  <div class="row-2">
                <nav>
                    <ul class="menu">
                        <li><a class="active" href="/managers/view_reports" id="profile_id">View Reports</a></li>
                        <li><a href="/managers/report_settings"   id="donate_id">Report Settings</a></li>
                        <li><a href="/managers/sent_requests" id="need_id">Sent Requests</a></li>
                         <li><a href="/managers/recieved_requests"    id="transfuse_id">Recieved Requests</a></li>
                        <!--<li class="last-item"><a href="#log" id="log_id">Log</a></li>
             -->
                    </ul>
                </nav>
            </div>
            <!--
                   -<div class="row-3">
                   -    <div class="slider-wrapper">
                   -        <div class="slider">
                   -          <ul class="items">
                   -            <li><img src="images/slider-img1.jpg" alt="">
                   -                <strong class="banner">
                   -                    <strong class="b1">our solidity</strong>
                   -                    <strong class="b2">is equity</strong>
                   -                    <strong class="b3">Innovation and flexibility, quick and<br> high results - oriented work</strong>
                   -                </strong>
                   -            </li>
                   -            <li><img src="images/slider-img2.jpg" alt="">
                   -                <strong class="banner">
                   -                    <strong class="b1">our aim is</strong>
                   -                    <strong class="b2">Dedicated</strong>
                   -                    <strong class="b3">To conducting business affairs using<br>the highest standards</strong>
                   -                </strong>
                   -            </li>
                   -            <li><img src="images/slider-img3.jpg" alt="">
                   -                <strong class="banner">
                   -                    <strong class="b1">encourage</strong>
                   -                    <strong class="b2">Business</strong>
                   -                    <strong class="b3">Success and growth with our<br>professionals of this sphere</strong>
                   -                </strong>
                   -            </li>
                   -          </ul>
                   -          <a class="prev" href="#">prev</a>
                   -          <a class="next" href="#">prev</a>
                   -        </div>
                   -    </div>
                   -</div>
                   -->
        </header>
        <!--[> content <]<div class="ic">More Website Templates  at TemplateMonster.com!</div>-->
        <section id="content">
    <div class="padding">
    <div class="indent">
    <h4>Please Fill one of two fields below</h4>
    <br />
    <form id="withdraw_form" action="demo_form.asp">
    
    
    <br />
    <h4>Store In Bank:</h4>
    <div class="CSSTableGenerator" >
    <table >
    <tr>
    <td>    Group   </td>
    <td >   Type    </td>
    <td>    Amount    </td>
    </tr>
    <tr>
    <td >   B   </td>
    <td>    Plazma    </td>
    <td>    3   </td>
    </tr>
    <tr>
    <td >   A     </td>
    <td>    Cell    </td>
    <td>    15    </td>
    </tr>
    <tr>
    <td >   B   </td>
    <td>    Cell    </td>
    <td>    23    </td>
    </tr>
    <tr>
    <td>      O     </td>
    <td >     Platelets     </td>
    <td>      12      </td>
    </tr>
    </table>
    </div>
    <h4>Withdrawing required quantity:</h4>

    </section>
    
  <!-- footer -->
      <%= render 'layouts/footer' %>
      </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
  </body>
</html>
