<p id="notice"><%= notice %></p>

<p>
  <strong>Centerid:</strong>
  <%= @blood_center.centerID %>
</p>

<%= link_to 'Edit', edit_blood_center_path(@blood_center) %> |
<%= link_to 'Back', blood_centers_path %>
